:root {
  --color-tooltip-white: #fff;
  --color-tooltip-dark: #212121;
  --color-tooltip-dark-transparent: rgba(33, 33, 33, 0.2);
  --transition-delay: 0.3s;
}

.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown__body {
  box-sizing: border-box;
  padding: 11px 16px;
  background-color: var(--color-tooltip-white);

  width: max-content;
  height: max-content;
  max-width: 65vw;
  max-height: 50vh;
  overflow: auto;

  word-break: break-word;

  text-align: center;
  position: fixed;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-delay) ease;
}

.dropdown__arrow {
  position: absolute;

  z-index: 1;
  display: block;
  width: 11px;
  height: 11px;

  background-color: var(--color-tooltip-white);
  transform-origin: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-delay) ease;
}

.dropdown_active .dropdown__body,
.dropdown_active .dropdown__arrow {
  opacity: 1;
  pointer-events: visible;
}

/* Sides to display */

/* --- Top */
.dropdown.top .dropdown__body {
  top: -20%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.dropdown.top .dropdown__arrow {
  left: 50%;
  top: -10%;
  transform: translate(-50%, -100%) rotate(45deg);
}
.dropdown.clip-left .dropdown__body {
  left: 0;
  transform: translate(0%, -100%);
}
.dropdown.top.clip-right .dropdown__body {
  left: unset;
  right: 0%;
  transform: translate(0%, -100%);
}

/* --- Right */
.dropdown.right .dropdown__body {
  right: -10%;
  left: unset;
  top: 50%;
  transform: translate(100%, -50%);
}
.dropdown.right .dropdown__arrow {
  top: 50%;
  right: -7%;
  transform: translate(100%, -50%) rotate(45deg);
}

/* --- Bottom */
.dropdown.bottom .dropdown__body {
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, 100%);
}
.dropdown.bottom .dropdown__arrow {
  bottom: -10%;
  left: 50%;
  right: 0;
  transform: translate(-50%, 100%) rotate(45deg);
}
.dropdown.bottom.clip-left .dropdown__body {
  left: 0;
  transform: translate(0, 100%);
}
.dropdown.bottom.clip-right .dropdown__body {
  right: 0;
  left: unset;
  transform: translate(0%, 100%);
}

/* --- Left */
.dropdown.left .dropdown__body {
  left: -10%;
  top: 50%;
  transform: translate(-100%, -50%);
}
.dropdown.left .dropdown__arrow {
  top: 50%;
  left: -7%;
  transform: translate(-100%, -50%) rotate(45deg);
}

/* Themes */
.dropdown.dark .dropdown__body,
.dropdown.dark .dropdown__arrow {
  background-color: var(--color-tooltip-dark);
  color: var(--color-tooltip-white);
}

.dropdown.light .dropdown__body {
  background-color: var(--color-tooltip-white);
  border: 1px solid var(--color-tooltip-dark-transparent);
  color: var(--color-tooltip-dark);
}

.dropdown.light.top .dropdown__arrow {
  border-bottom: 1px solid var(--color-tooltip-dark-transparent);
  border-right: 1px solid var(--color-tooltip-dark-transparent);
}
.dropdown.light.bottom .dropdown__arrow {
  border-top: 1px solid var(--color-tooltip-dark-transparent);
  border-left: 1px solid var(--color-tooltip-dark-transparent);
}
.dropdown.light.right .dropdown__arrow {
  border-bottom: 1px solid var(--color-tooltip-dark-transparent);
  border-left: 1px solid var(--color-tooltip-dark-transparent);
}
.dropdown.light.left .dropdown__arrow {
  border-top: 1px solid var(--color-tooltip-dark-transparent);
  border-right: 1px solid var(--color-tooltip-dark-transparent);
}
