:root {
  --color-tooltip-white: #fff;
  --color-tooltip-dark: #212121;
  --color-tooltip-dark-transparent: rgba(33, 33, 33, 0.2);
  --transition-delay: 0.3s;
}

.tooltip {
  /* position: relative; */
  width: fit-content;
  display: inline-block;
}

.tooltip__body {
  box-sizing: border-box;
  padding: 11px 16px;
  background-color: var(--color-tooltip-white);

  width: max-content;
  height: max-content;
  max-width: 65vw;
  max-height: 50vh;
  overflow: auto;

  word-break: break-word;

  text-align: center;
  position: absolute;

  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-delay) ease;
}

.tooltip__arrow {
  position: absolute;

  z-index: 0;
  display: block;
  width: 11px;
  height: 11px;

  background-color: var(--color-tooltip-white);
  transform-origin: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-delay) ease;

  background-color: transparent;
}

.tooltip__arrow:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: var(--color-tooltip-white);
}

.tooltip__trigger {
  z-index: 1;
  position: relative;
}

.tooltip_active .tooltip__body,
.tooltip_active .tooltip__arrow {
  opacity: 1;
  pointer-events: visible;
}

/* Sides to display */

/* --- Top */
.tooltip.top .tooltip__body {
  top: -20%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.tooltip.top .tooltip__arrow:after {
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.tooltip.top .tooltip__arrow {
  width: 100%;
  height: 20%;
  top: -20%;
}
.tooltip.clip-left .tooltip__body {
  left: 0;
  transform: translate(0%, -100%);
}
.tooltip.top.clip-right .tooltip__body {
  left: unset;
  right: 0%;
  transform: translate(0%, -100%);
}

/* --- Right */
.tooltip.right .tooltip__body {
  right: -10%;
  top: 50%;
  transform: translate(100%, -50%);
}
.tooltip.right .tooltip__arrow {
  height: 100%;
  right: -10%;
  top: 0;
  width: 100%;
}
.tooltip.right .tooltip__arrow::after {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

/* --- Bottom */
.tooltip.bottom .tooltip__body {
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, 100%);
}
.tooltip.bottom .tooltip__arrow {
  bottom: 0;
  height: 20%;
  width: 100%;
  left: 0;
  transform: translateY(100%);
}
.tooltip.bottom .tooltip__arrow::after {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
.tooltip.bottom.clip-left .tooltip__body {
  left: 0;
  transform: translate(0, 100%);
}
.tooltip.bottom.clip-right .tooltip__body {
  right: 0;
  left: unset;
  transform: translate(0%, 100%);
}

/* --- Left */
.tooltip.left .tooltip__body {
  left: -10%;
  top: 50%;
  transform: translate(-100%, -50%);
}
.tooltip.left .tooltip__arrow {
  height: 100%;
  top: 0;
  left: -10%;
  width: 100%;
}
.tooltip.left .tooltip__arrow:after {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Themes */
.tooltip.dark .tooltip__body,
.tooltip.dark .tooltip__arrow::after {
  background-color: var(--color-tooltip-dark);
  color: var(--color-tooltip-white);
}

.tooltip.light .tooltip__body {
  background-color: var(--color-tooltip-white);
  border: 1px solid var(--color-tooltip-dark-transparent);
  color: var(--color-tooltip-dark);
}

.tooltip.light.top .tooltip__arrow:after {
  border-bottom: 1px solid var(--color-tooltip-dark-transparent);
  border-right: 1px solid var(--color-tooltip-dark-transparent);
}
.tooltip.light.bottom .tooltip__arrow:after {
  border-top: 1px solid var(--color-tooltip-dark-transparent);
  border-left: 1px solid var(--color-tooltip-dark-transparent);
}
.tooltip.light.right .tooltip__arrow:after {
  border-bottom: 1px solid var(--color-tooltip-dark-transparent);
  border-left: 1px solid var(--color-tooltip-dark-transparent);
}
.tooltip.light.left .tooltip__arrow:after {
  border-top: 1px solid var(--color-tooltip-dark-transparent);
  border-right: 1px solid var(--color-tooltip-dark-transparent);
}
