:root {
  --color-primary: #1475e1;
  --color-primary-hover: #105eb4;
  --color-success: #1fff20;
  --color-success-hover: #33c533;
  --color-danger: #fe2247;
  --color-danger-hover: #c4233e;
  --color-text-white: #fff;
  --color-text-dark: #212121;
}

/* Main class */
.btn {
  cursor: pointer;
  border: none;
  position: relative;
}

.btn svg {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: opacity 0.3s ease;
}

/* -------------------------------------------------------------- */

/* Size mods */
.l {
  font-size: clamp(20px, 20px + 8 * ((100vw - 320px) / (1600 - 320)), 28px);
  line-height: clamp(20px, 20px + 8 * ((100vw - 320px) / (1600 - 320)), 28px);
  padding-top: clamp(15px, 15px + 5 * ((100vw - 320px) / (1600 - 320)), 20px);
  padding-bottom: clamp(15px, 15px + 5 * ((100vw - 320px) / (1600 - 320)), 20px);
  padding-left: clamp(30px, 30px + 10 * ((100vw - 320px) / (1600 - 320)), 40px);
  padding-right: clamp(30px, 30px + 10 * ((100vw - 320px) / (1600 - 320)), 40px);
}

.m {
  font-size: clamp(16px, 16px + 8 * ((100vw - 320px) / (1600 - 320)), 24px);
  line-height: clamp(16px, 16px + 8 * ((100vw - 320px) / (1600 - 320)), 24px);
  padding-top: clamp(10px, 10px + 5 * ((100vw - 320px) / (1600 - 320)), 15px);
  padding-bottom: clamp(10px, 10px + 5 * ((100vw - 320px) / (1600 - 320)), 15px);
  padding-left: clamp(20px, 20px + 10 * ((100vw - 320px) / (1600 - 320)), 30px);
  padding-right: clamp(20px, 20px + 10 * ((100vw - 320px) / (1600 - 320)), 30px);
}

.s {
  font-size: clamp(12px, 12px + 6 * ((100vw - 320px) / (1600 - 320)), 18px);
  line-height: clamp(12px, 12px + 6 * ((100vw - 320px) / (1600 - 320)), 18px);
  padding-top: clamp(5px, 5px + 5 * ((100vw - 320px) / (1600 - 320)), 10px);
  padding-bottom: clamp(5px, 5px + 5 * ((100vw - 320px) / (1600 - 320)), 10px);
  padding-left: clamp(10px, 10px + 10 * ((100vw - 320px) / (1600 - 320)), 20px);
  padding-right: clamp(10px, 10px + 10 * ((100vw - 320px) / (1600 - 320)), 20px);
}

.xs {
  font-size: clamp(10px, 10px + 6 * ((100vw - 320px) / (1600 - 320)), 16px);
  line-height: clamp(10px, 10px + 6 * ((100vw - 320px) / (1600 - 320)), 16px);
  padding-top: clamp(4px, 4px + 4 * ((100vw - 320px) / (1600 - 320)), 8px);
  padding-bottom: clamp(4px, 4px + 4 * ((100vw - 320px) / (1600 - 320)), 8px);
  padding-left: clamp(8px, 8px + 8 * ((100vw - 320px) / (1600 - 320)), 16px);
  padding-right: clamp(8px, 8px + 8 * ((100vw - 320px) / (1600 - 320)), 16px);
}

.full-size {
  width: 100%;
}

/* -------------------------------------------------------------- */

/* Views */

/* - Primary view */
.primary,
.primary.clip:hover {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  border: 2px solid transparent;

  transition: all 0.2s ease;
}

.primary:hover {
  background-color: var(--color-primary-hover);
}

.primary.clip {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}

.primary.clip svg circle {
  stroke: var(--color-primary);
}
.primary svg circle,
.primary.clip:hover svg circle {
  stroke: var(--color-text-white);
}

/* - Success view */
.success,
.success.clip:hover {
  background-color: var(--color-success);
  color: var(--color-text-dark);
  border: 2px solid transparent;

  transition: all 0.2s ease;
}

.success:hover {
  background-color: var(--color-success-hover);
}

.success.clip {
  border: 2px solid var(--color-success);
  color: var(--color-success);
  background-color: transparent;
}

.success.clip svg circle {
  stroke: var(--color-success);
}
.success svg circle,
.success.clip:hover svg circle {
  stroke: var(--color-text-white);
}

/* - Danger view */
.danger,
.danger.clip:hover {
  background-color: var(--color-danger);
  color: var(--color-text-white);
  border: 2px solid transparent;

  transition: all 0.2s ease;
}

.danger:hover {
  background-color: var(--color-danger-hover);
}

.danger.clip {
  border: 2px solid var(--color-danger);
  color: var(--color-danger);
  background-color: transparent;
}

.danger.clip svg circle {
  stroke: var(--color-danger);
}
.danger svg circle,
.danger.clip:hover svg circle {
  stroke: var(--color-text-white);
}

/* Link view / reset */
.link {
  padding: 0;
  background-color: transparent;
}

/* -------------------------------------------------------------- */

/* Forms */
.brick {
  border-radius: 4px;
}

.round {
  border-radius: 50px;
}

/* -------------------------------------------------------------- */

/* States */
.loading,
.loading.clip,
.loading:hover,
.loading.clip:hover {
  color: transparent !important;
}

.loading svg,
.loading.clip svg {
  opacity: 1;
}

.btn[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
